# TestResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **number** |  | [readonly] [default to undefined]
**status** | [**TestResultStatusEnum**](TestResultStatusEnum.md) |  | [optional] [default to undefined]
**message** | **string** |  | [default to undefined]
**created_at** | **string** |  | [readonly] [default to undefined]

## Example

```typescript
import { TestResult } from './api';

const instance: TestResult = {
    id,
    status,
    message,
    created_at,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
